@import '../../common/scss/variables.scss';

.username {
  position: absolute;
  right: 0.5em;
  top: 3.15em;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0.1em 1em;
  border-radius: 1em;
  color: $primary-color;
  background-color: $username-color;
}